nav {
   @include flex(column, center, flex-start);

   p {
       text-align:center;
       margin-left:2rem;
   }
}

.mainNav {

    height: 100vh;
    position:fixed;
    // transform:translateY(-50px);
    @include flex(column, center, center);
    list-style:none;
    margin:0;
    top:0;
    bottom:0;
    padding: 10px;
    z-index: 200;



    li{
        list-style:none;
        transform:rotate(-45deg);
        letter-spacing: 1.3px;
        animation: navSlideIn .3s linear;

    }

}

.mainNav button {
    border:none;
    background:transparent;
    @include font(1rem, 300);
    margin: 2rem 0;
}

.mainNav button:after {
    content:"";
    display:block;
    background-color:black;
    width: 1rem;
    height: 2px;
    opacity:0;
    transition: .2s all linear;

}

.mainNav button:hover:after {
    width: 100%;
    opacity:1;
}



.navLogoWrapper {
    width: 100px;
    height: 100px;
    background-color: #FFF;
    border-radius: 100%;
    border:2px solid #000;

}

.mobileNavList {
    text-align:center;
    list-style:none;

    button {
        border:0;
        background-color:transparent;
        @include font(1.5rem, 200);

    }
}



.navigationLinks {
    //    position:absolute;
       z-index:-1;
       top:0;
       right:0;
       bottom:0;
       left:0;
       
    }
    
    
    button {
        transition:.1s all linear;

    }
    
    a {
        text-decoration:none;
        color: #000;
        padding:0;
        margin:0;
    
}
.navigationLinks button:hover,
.navigationLinks button:focus,
.navigationLinks button:active {
    transform:scale(1.2);
}



@keyframes navSlideIn {
    0% {
        transform:translateX(-200px)rotate(0deg);
    }
    0% {
        transform:translateX(0)rotate(0deg);
    }
}

// MOBILE NAV BLACK

.mobileNavButtonBlack {
    height: 50px;
    width: 50px;
    position:fixed;
    top:1rem;
    right:1rem;
    background-color:transparent;
    border:none;
    padding:0;
    margin:0;
    @include flex(column,center,center);
    z-index:400;
}

.mobileNavIconBlack {
    height:2px;
    width: 2rem;
    background-color:black;
    padding:0;
    margin:0;

    &::after,
    &::before {
    content:'';
    height:2px;
    width: 2rem;
    background-color:black;
    display:block;
    // margin: .5rem 0 ;
    transition:.1s all linear;
         @include font(0.8rem, 200);
    }

    &::before {
        transform:translateY(10px);
        padding:0;
        margin:0;
    }

    &::after {
        transform:translateY(-12px);
        padding:0;
        margin:0;
       
    }
}

.mobileNavButtonBlack:hover .mobileNavIconBlack:after,
.mobileNavButtonBlack:active .mobileNavIconBlack:after {
    content:"Menu";
    transform:translateY(-20px);
    background-color:transparent;
   

}



// WHITE
.mobileNavButtonWhite {
    height: 50px;
    width: 50px;
    position:fixed;
    top:1rem;
    right:1rem;
    background-color:transparent;
    border:none;
    padding:0;
    margin:0;
    @include flex(column,center,center);
    z-index:400;
}

.mobileNavIconWhite{
    height:2px;
    width: 2rem;
    background-color:white;
    padding:0;
    margin:0;

    &::after,
    &::before {
    content:'';
    height:2px;
    width: 2rem;
    background-color:White;
    display:block;
    transition:.1s all linear;
         @include font(0.8rem, 200);
    }

    &::before {
        transform:translateY(10px);
        padding:0;
        margin:0;
    }

    &::after {
        transform:translateY(-12px);
        padding:0;
        margin:0;
        color:white;
       
    }
}

.mobileNavButtonWhite:hover .mobileNavIconWhite:after,
.mobileNavButtonWhite:active .mobileNavIconWhite:after
 {
    content:"Exit";
    transform:translateY(-20px);
    background-color:transparent;
   

}


.navListHolder {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:0 auto;
    @include flex(column, center, center);
    background-color:rgba(0,0,0,1);
    z-index:300;
    
}

.mobileNavList {

    button {
        color:rgba(255,255,255,.7);
        padding:2rem;

    }
}
.mobileNavList button::before
.mobileNavList button::after,
{
    content:"";
    width: 100%;
    height: 1px;
    display:block;
    background-color:rgba(255,255,255,.7);
    margin-top:5px;
  
} 

.mobileNavList button:hover,
.mobileNavList button:focus,
{
    color:rgba(255,255,255,1);
}



@media (max-height:650px) {
    .mobileNavList button:active
{
    color:rgba(255,255,255,1);
}
.mobileNavButtonWhite:active .mobileNavIconWhite:after {
    content: "Exit";
    transform: translateY(-20px);
    background-color: transparent;


}

.mobileNavButtonBlack:active .mobileNavIconBlack:after {
    content: "Menu";
    transform: translateY(-20px);
    background-color: transparent;


}



    // .mobileNavIconWhite:after,
    // .mobileNavIconBlack:after {
    //     // transform:translate(0);
    //     content:'';
    //     background-color:black;
    // }

}

