.portfolioWrapper {
    margin:10rem auto 0 auto;
}


.projectOneWrapper,
.projectTwoWrapper,
.projectThreeWrapper,
.projectFourWrapper,
.projectFiveWrapper,
.projectSixWrapper {
    outline:2px solid blue;
    width:70%;
    padding: 2rem .5rem;
    margin: 0 auto;
    // height:100vh;
    @include flex(row,flex-start,center);
}

.projectTwoObjectContainer {

}

.projectOneObjectWrapper,
.projectTwoObjectWrapper,
.projectThreeObjectWrapper,
.projectFourObjectWrapper,
.projectFiveObjectWrapper,
.projectSixObjectWrapper {
    width:80%;
    margin:5rem auto;
    height: 80vh;
    margin-bottom: 10vh;
    @include flex(column, center,center);
    
    embed {
        transition: 1s all linear;
        margin: 0 auto;
        border: 12px solid rgba(0,0,0, .8);
        // width: 100%;
        height:100%;
    }
}

.projectOneInfo,
.projectTwoInfo,
.projectThreeInfo,
.projectFourInfo,
.projectFiveInfo,
.projectSixInfo {
    width: 50%;

    & > *:not(button) {
        padding:.5rem;
    }
}

.projectImageContainerOne,
.projectImageContainerTwo,
.projectImageContainerThree,
.projectImageContainerFour,
.projectImageContainerFive,
.projectImageContainerSix {
    width: 40%;
    overflow:hidden;
    height: 250px;
    margin:0 auto;
    border: 8px solid rgba(0,0,0,.8);
    // border: 2px solid blue;

    img {
        width: 100%;
        object-fit:cover;
        height: 100%;
  
       
    }
}



.projectTwoWrapper,
.projectFourWrapper,
.projectSixWrapper {
    @include flex(row-reverse, flex-start, center)
}

.buttonContainer {
    @include flex(row, center,center);
}

.desktopButton,
.mobileButton,
.tabletButton {
    margin:0 1rem;
    
}

.previewButton,
.desktopButton,
.mobileButton,
.tabletButton,
.closeButton {
       border:none;
       background-color:transparent;
       @include font(1rem, 300);
       padding:.5rem;
       box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
       margin-top: 1rem;

       &:hover,
       &:focus,
       &:active {
           box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
       }
}
