.portfolioWrapper {
    margin:5rem auto;
}


.projectOneWrapper,
.projectTwoWrapper,
.projectThreeWrapper,
.projectFourWrapper,
.projectFiveWrapper,
.projectSixWrapper {
    width:70%;
    padding: 2rem .5rem;
    margin: 5vh auto;
    @include flex(row,flex-start,center);
}


.projectOneObjectWrapper,
.projectTwoObjectWrapper,
.projectThreeObjectWrapper,
.projectFourObjectWrapper,
.projectFiveObjectWrapper,
.projectSixObjectWrapper {
    width:80%;
    margin:5rem auto;
    height: 80vh;
    margin-bottom: 7vh;
    @include flex(column, center,center);
    position:relative;
    
    embed {
        transition: 1s all linear;
        margin: 0 auto;
        border: 12px solid rgba(0,0,0, .8);
        // width: 100%;
        height:100%;
    }
}

.projectOneInfo,
.projectTwoInfo,
.projectThreeInfo,
.projectFourInfo,
.projectFiveInfo,
.projectSixInfo {
    width: 50%;
    margin-left:1rem;
    
    h2 {
        @include font(2.5rem, 200);
        letter-spacing:2.5px;
    }

    p {
        @include font(1rem, 400);
        letter-spacing:1.6px;
        line-height:1.5rem;
    }

    button {
        margin-left:5px;

    }

    & > *:not(button) {
        padding:.5rem;
    }
}


.projectImageContainerOne,
.projectImageContainerTwo,
.projectImageContainerThree,
.projectImageContainerFour,
.projectImageContainerFive,
.projectImageContainerSix {
    width: 50%;
    overflow:hidden;
    height: 250px;
    margin:0 auto;
    margin:1rem;
    border: 8px solid rgba(0,0,0,.8);

    img {
        width: 100%;
        object-fit:cover;
        min-height:100%;
  
       
    }
}

.projectLinks {
    position:absolute;
 
    bottom:0;
   
}

.langUsed {
    border: 1px solid rgba(0,0,0,.6);
    padding: 9px;
    margin:3px;
    transition:.2s all linear;
    letter-spacing: 1.5px;
    @include font(1rem, 200);

    display:inline-block;
    

    &:hover {
        background-color:rgba(0,0,0,.6);
        color:white;
    }
}



.projectTwoWrapper,
.projectFourWrapper,
.projectSixWrapper {
    @include flex(row-reverse, flex-start, center)
}

.buttonContainer {
    @include flex(row, center,center);
}

.desktopButton,
.mobileButton,
.tabletButton {
    margin:0 .5rem;
    
}

.githubButton {
    margin: 0 6px;
    transition:.1s all linear;
}

.liveButton {
    margin-left:5px;
    transition:.1s all linear;
}


.previewButton,
.desktopButton,
.mobileButton,
.tabletButton,
.closeButton {
    letter-spacing:1.5px;
       border:none;
       background-color:transparent;
       @include font(1rem, 300);
       padding:.5rem;
       box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
       margin-top: 1rem;

       &:hover,
       &:focus,
       &:active {
           box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
       }
}

@media (max-width: 900px) {
    .portfolioWrapper {
        margin: 5rem auto 0 auto;
    }

    .projectOneWrapper,
    .projectTwoWrapper,
    .projectThreeWrapper,
    .projectFourWrapper,
    .projectFiveWrapper,
    .projectSixWrapper {
        @include flex(column, center, center);

    }

    .projectOneInfo,
    .projectTwoInfo,
    .projectThreeInfo,
    .projectFourInfo,
    .projectFiveInfo,
    .projectSixInfo {
        width:80%;
    }

    .projectImageContainerOne,
    .projectImageContainerTwo,
    .projectImageContainerThree,
    .projectImageContainerFour,
    .projectImageContainerFive,
    .projectImageContainerSix {
        width:75%;
        margin-top:2rem;
    }
}

@media (max-width: 550px) {
      .projectOneInfo,
      .projectTwoInfo,
      .projectThreeInfo,
      .projectFourInfo,
      .projectFiveInfo,
      .projectSixInfo {
          width:95%;
      }

      .projectImageContainerOne,
      .projectImageContainerTwo,
      .projectImageContainerThree,
      .projectImageContainerFour,
      .projectImageContainerFive,
      .projectImageContainerSix {
          width:95%;
      }
}
