.landingPageWrapper {
    margin-top:17rem;
    text-align:center;
    width: 50%;
    margin:15rem auto 0 auto;
    
    h1{
        @include font(5rem, 200);
        opacity:0;
        padding: 1rem;
        
    }

    h2 {
         @include font(4rem, 200);
         opacity:0;
         padding: 1rem;
    }
    h3 {
         @include font(3rem, 200);
         opacity:0;
         padding: 1rem;
    }
}

  .openBracket {
        display:inline-block;
        transform:rotate(-30deg)translateY(-10px);
  }

  .closeBracket {
    display:inline-block;
    transform:rotate(30deg)translateY(10px);
  }

.hand,
.raccoon {
   display:inline-block;
    height: 50px;
    width: 50px;
     

    svg {
        width: 100%;

    }
}

.raccoon  {
    transform:rotate(-20deg);

    svg {
        height: 40px;
        transform: translateY(8px);
    }
}

@media(max-width: 1110px) {
     .landingPageWrapper {
         width: 70%;

       
     }

}

@media(max-width: 900px) {
    .landingPageWrapper {

        width:95%;
    }

}

@media(max-width: 675px) {
    .landingPageWrapper {
        margin-top:15rem;
    }
}

@media (max-width:580px) {
    .landingPageWrapper {
        width:95%;

           h1 {
               font-size:4.5rem;
           }

           h2 {
               font-size:3.5rem;
           }

           h3 {
               font-size:2.5rem;
           }
    }
}

@media(max-width: 520px) {
    .landingPageWrapper {
        h1 {
            font-size:4rem;
        }
        h2 {
            font-size:3rem;
        }
        h3 {
            font-size:2.5rem;
        }
    }
}

@media(max-width:470px 
) {
      .landingPageWrapper {
          h1 {
              font-size: 3rem;
          }

          h2 {
              font-size: 2rem;
          }

          h3 {
              font-size: 1.5rem;
          }
      }

}

@media (max-width: 390px) {
    .landingPageWrapper {
        h1 {
            font-size: 3rem;
            padding:.5rem;
        }

        h2 {
            font-size: 2.25rem;
            padding:.5rem;
        }
        h3 {
            font-size:2rem;
            padding:.5rem;
           
        }

        
    }

  

    .hand,
    .raccoon {
        height:25px;
        width:25px;
    }
}
