body {
  font-size: 125%;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5
, h6,
p,
a,
ul {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  /* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.loadingScreenWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loadingScreenWrapper h1 {
  font-size: 5rem;
  font-weight: 200;
  margin-top: 20%;
  -webkit-animation: fadeIn .5s linear;
          animation: fadeIn .5s linear;
}

.projectName {
  -ms-flex-item-align: start;
      align-self: flex-start;
  justify-self: flex-end;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  padding-left: 2rem;
  -webkit-animation: inOut 5s linear;
          animation: inOut 5s linear;
  color: black;
  font-size: 1rem;
}

.projectName h3 {
  font-size: 1.5rem;
  font-weight: 200;
  -webkit-animation: slideUpTwo 1s linear;
          animation: slideUpTwo 1s linear;
  margin: 0;
  padding: 0;
}

.loadingDot {
  -webkit-animation: fadeIn .1s linear;
          animation: fadeIn .1s linear;
}

.loadingDotOne {
  -webkit-animation-delay: 1.3s infinite;
          animation-delay: 1.3s infinite;
}

.loadingDotTwo {
  -webkit-animation-delay: 2.3s;
          animation-delay: 2.3s;
}

.loadingDotThree {
  -webkit-animation-delay: 3.3s;
          animation-delay: 3.3s;
}

.toMainPage {
  font-size: 1.5rem;
  font-weight: 200;
  font-weight: 200;
  text-decoration: none;
  color: black;
  border: none;
  margin-top: 1rem;
  background: transparent;
  -webkit-animation: fadeIn .7s linear;
          animation: fadeIn .7s linear;
  padding-bottom: 5px;
}

.toMainPage::after {
  content: "";
  width: 2rem;
  height: 2px;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
}

.toMainPage:hover:after,
.toMainPage:focus:after,
.toMainPage:active:after {
  opacity: 1;
  width: 100%;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes inOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes inOut {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .loadingScreenWrapper h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 30vh;
  }
}

main {
  -webkit-animation: fadeIn .7s linear;
          animation: fadeIn .7s linear;
  font-weight: 300;
}

main h1 {
  font-size: 3rem;
  font-weight: 300;
}

.socials ul {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.headerMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nameContainer {
  background-color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.headerMain h1 {
  font-size: 2.5rem;
  font-weight: 300;
  width: 100%;
}

.navBackground {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: .5s all linear;
  transition: .5s all linear;
  position: absolute;
  border-radius: 100%;
  z-index: -1;
}

.nameContainer:hover {
  background-color: black;
  color: #FFF;
}

.socialsWrapper {
  position: fixed;
  bottom: 0;
  right: 0;
}

.socialsWrapper ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.socialsWrapper li {
  padding: 1rem;
  opacity: 0;
}

.socialsWrapper i {
  color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

.socialsWrapper i:hover, .socialsWrapper i:active, .socialsWrapper i:focus {
  color: black;
}

.socialsWrapper a {
  text-decoration: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

nav p {
  text-align: center;
  margin-left: 2rem;
}

.mainNav {
  height: 100vh;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  top: 0;
  bottom: 0;
  padding: 10px;
  z-index: 200;
}

.mainNav li {
  list-style: none;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  letter-spacing: 1.3px;
  -webkit-animation: navSlideIn .3s linear;
          animation: navSlideIn .3s linear;
}

.mainNav button {
  border: none;
  background: transparent;
  font-size: 1rem;
  font-weight: 300;
  margin: 2rem 0;
}

.mainNav button:after {
  content: "";
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  width: 1rem;
  height: 2px;
  opacity: 0;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

.mainNav button:hover:after {
  width: 100%;
  opacity: 1;
}

.navLogoWrapper {
  width: 100px;
  height: 100px;
  background-color: #FFF;
  border-radius: 100%;
  border: 2px solid #000;
}

.mobileNavList {
  text-align: center;
  list-style: none;
}

.mobileNavList button {
  border: 0;
  background-color: transparent;
  font-size: 1.5rem;
  font-weight: 200;
}

.navigationLinks {
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navigationLinks button {
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

.navigationLinks a {
  text-decoration: none;
  color: #000;
  padding: 0;
  margin: 0;
}

.navigationLinks button:hover,
.navigationLinks button:focus,
.navigationLinks button:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@-webkit-keyframes navSlideIn {
  0% {
    -webkit-transform: translateX(-200px) rotate(0deg);
            transform: translateX(-200px) rotate(0deg);
  }
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
}

@keyframes navSlideIn {
  0% {
    -webkit-transform: translateX(-200px) rotate(0deg);
            transform: translateX(-200px) rotate(0deg);
  }
  0% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
  }
}

.mobileNavButtonBlack {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 400;
}

.mobileNavIconBlack {
  height: 2px;
  width: 2rem;
  background-color: black;
  padding: 0;
  margin: 0;
}

.mobileNavIconBlack::after, .mobileNavIconBlack::before {
  content: '';
  height: 2px;
  width: 2rem;
  background-color: black;
  display: block;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  font-size: 0.8rem;
  font-weight: 200;
}

.mobileNavIconBlack::before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  padding: 0;
  margin: 0;
}

.mobileNavIconBlack::after {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  padding: 0;
  margin: 0;
}

.mobileNavButtonWhite {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 400;
}

.mobileNavIconWhite {
  height: 2px;
  width: 2rem;
  background-color: white;
  padding: 0;
  margin: 0;
}

.mobileNavIconWhite::after, .mobileNavIconWhite::before {
  content: '';
  height: 2px;
  width: 2rem;
  background-color: White;
  display: block;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  font-size: 0.8rem;
  font-weight: 200;
}

.mobileNavIconWhite::before {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  padding: 0;
  margin: 0;
}

.mobileNavIconWhite::after {
  -webkit-transform: translateY(-12px);
          transform: translateY(-12px);
  padding: 0;
  margin: 0;
  color: white;
}

.mobileNavButtonWhite:hover .mobileNavIconWhite:after,
.mobileNavButtonWhite:active .mobileNavIconWhite:after,
.mobileNavButtonWhite:focus .mobileNavIconWhite:after {
  content: "Exit";
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-color: transparent;
}

.mobileNavButtonBlack:active .mobileNavIconBlack:after,
.mobileNavButtonBlack:hover .mobileNavIconBlack:after,
.mobileNavButtonBlack:focus .mobileNavIconBlack:after {
  content: "Menu";
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  background-color: transparent;
}

.navListHolder {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  z-index: 300;
}

.mobileNavList button {
  color: rgba(255, 255, 255, 0.7);
  padding: 2rem;
}

.mobileNavList button::before,
.mobileNavList button::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background-color: rgba(255, 255, 255, 0.7);
  margin-top: 5px;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

.mobileNavList button::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mobileNavList button:hover::after,
.mobileNavList button:focus::after {
  color: white;
  width: 100%;
}

@media (max-height: 650px) {
  .mobileNavButtonWhiteactive .mobileNavIconWhite:after,
  .mobileNavButtonWhite:hover .mobileNavIconWhite:after,
  .mobileNavButtonWhite:focus .mobileNavIconWhite:after {
    content: "";
    background-color: white;
    -webkit-transform: rotate(45deg) translateX(-1px);
            transform: rotate(45deg) translateX(-1px);
  }
  .mobileNavButtonWhiteactive .mobileNavIconWhite,
  .mobileNavButtonWhite:hover .mobileNavIconWhite,
  .mobileNavButtonWhite:focus .mobileNavIconWhite {
    background-color: black;
  }
  .mobileNavButtonWhite:active .mobileNavIconWhite:before,
  .mobileNavButtonWhite:hover .mobileNavIconWhite:before,
  .mobileNavButtonWhite:focus .mobileNavIconWhite:before {
    content: "";
    background-color: white;
    -webkit-transform: rotate(-45deg) translateX(-1px);
            transform: rotate(-45deg) translateX(-1px);
  }
}

.landingPageWrapper {
  margin-top: 17rem;
  text-align: center;
  width: 50%;
  margin: 15rem auto 0 auto;
}

.landingPageWrapper h1 {
  font-size: 5rem;
  font-weight: 200;
  opacity: 0;
  padding: 1rem;
}

.landingPageWrapper h2 {
  font-size: 4rem;
  font-weight: 200;
  opacity: 0;
  padding: 1rem;
}

.landingPageWrapper h3 {
  font-size: 3rem;
  font-weight: 200;
  opacity: 0;
  padding: 1rem;
}

.openBracket {
  display: inline-block;
  -webkit-transform: rotate(-30deg) translateY(-10px);
          transform: rotate(-30deg) translateY(-10px);
}

.closeBracket {
  display: inline-block;
  -webkit-transform: rotate(30deg) translateY(10px);
          transform: rotate(30deg) translateY(10px);
}

.hand,
.raccoon {
  display: inline-block;
  height: 50px;
  width: 50px;
}

.hand svg,
.raccoon svg {
  width: 100%;
}

.raccoon {
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}

.raccoon svg {
  height: 40px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

@media (max-width: 1110px) {
  .landingPageWrapper {
    width: 70%;
  }
}

@media (max-width: 900px) {
  .landingPageWrapper {
    width: 95%;
  }
}

@media (max-width: 675px) {
  .landingPageWrapper {
    margin-top: 15rem;
  }
}

@media (max-width: 580px) {
  .landingPageWrapper {
    width: 95%;
  }
  .landingPageWrapper h1 {
    font-size: 4.5rem;
  }
  .landingPageWrapper h2 {
    font-size: 3.5rem;
  }
  .landingPageWrapper h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 520px) {
  .landingPageWrapper h1 {
    font-size: 4rem;
  }
  .landingPageWrapper h2 {
    font-size: 3rem;
  }
  .landingPageWrapper h3 {
    font-size: 2.5rem;
  }
}

@media (max-width: 470px) {
  .landingPageWrapper h1 {
    font-size: 3rem;
  }
  .landingPageWrapper h2 {
    font-size: 2rem;
  }
  .landingPageWrapper h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 390px) {
  .landingPageWrapper h1 {
    font-size: 3rem;
    padding: .5rem;
  }
  .landingPageWrapper h2 {
    font-size: 2.25rem;
    padding: .5rem;
  }
  .landingPageWrapper h3 {
    font-size: 2rem;
    padding: .5rem;
  }
  .hand,
  .raccoon {
    height: 25px;
    width: 25px;
  }
}

.aboutWrapper {
  margin: 0 auto;
  width: 80%;
  margin-top: 9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headshotContainer {
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  opacity: 0;
}

.headshotContainer img {
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}

.headshotContainer img:hover .headshotContainer:after {
  height: 40px;
}

.headshotContainer::before:hover .headshotContainer:before {
  opacity: 1;
}

.aboutInfo {
  padding-left: 4rem;
  width: 80%;
  letter-spacing: 1.3px;
  line-height: 1.6rem;
}

.aboutInfo p {
  opacity: 0;
}

.aboutInfo p:first-of-type {
  margin-bottom: 1.3rem;
}

@media (max-width: 900px) {
  .aboutWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 3rem;
  }
  .headshotContainer {
    height: 300px;
    width: 300px;
    margin-bottom: 15%;
  }
  .aboutInfo {
    padding-left: 0;
  }
}

@media (max-width: 650px) {
  .aboutWrapper {
    margin-bottom: 5rem;
  }
}

@media (max-width: 500px) {
  .headshotContainer {
    width: 80%;
  }
}

.skillsWrapper {
  width: 85%;
  margin: 0 auto;
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  padding: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
}

.iconContainer {
  width: calc(15% - 2rem);
  height: 100px;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
  letter-spacing: 1.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.iconContainer img {
  max-height: 100%;
  width: 100%;
  opacity: .6;
}

.iconContainer p {
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.6);
}

.iconContainer p::after {
  content: '';
  height: 1px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  -webkit-transform: translateY(0.5rem);
          transform: translateY(0.5rem);
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
}

.iconContainer:hover > p::after {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.educationInfo {
  width: 50%;
  letter-spacing: 1.4px;
  font-weight: 200;
}

.educationInfo h2 {
  padding-bottom: 1rem;
  letter-spacing: 1.6px;
  opacity: 0;
  font-size: 3rem;
  font-weight: 200;
}

.educationInfo h3 {
  padding-bottom: .5rem;
  opacity: 0;
  font-size: 2rem;
  font-weight: 300;
}

.educationInfo p {
  line-height: 1.6rem;
  opacity: 0;
}

.stackToggle {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

.stackToggle:hover, .stackToggle:focus, .stackToggle:active {
  -webkit-box-shadow: 0px 0px 5px 0px black;
          box-shadow: 0px 0px 5px 0px black;
}

@media (max-width: 1100px) {
  .skillsWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .educationInfo {
    width: 75%;
  }
  .iconWrapper,
  .skillsWrapper {
    width: 85%;
  }
}

@media (max-width: 1000px) {
  .skillsWrapper {
    margin-top: 8rem;
  }
}

@media (max-width: 650px) {
  .skillsWrapper {
    width: 95%;
  }
}

@media (max-width: 700px) {
  .skillsWrapper,
  .iconWrapper {
    width: 95%;
  }
}

@media (max-width: 550px) {
  .skillsWrapper {
    margin-top: 6rem;
  }
  .skillsWrapper h3 {
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }
  .iconContainer {
    width: calc(35% - 2rem);
  }
  .iconContainer p {
    display: none;
  }
}

form {
  padding-bottom: 1rem;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 10rem;
  width: 40%;
  height: 50vh;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
}

form h2 {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 1rem;
}

form input {
  margin: .5rem 0;
  padding: .5rem 0;
  border: none;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.6);
  background-color: transparent;
  padding-left: 5px;
}

form input::-webkit-input-placeholder {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form input:-ms-input-placeholder {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form input::-ms-input-placeholder {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form input::placeholder {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

form input:focus, form input:active {
  -webkit-box-shadow: 0px 0px 5px 0px black;
          box-shadow: 0px 0px 5px 0px black;
}

form input[type="email"] {
  width: calc( 80% - .5rem);
}

form .nameBox {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

form .nameBox input {
  width: 50%;
}

form .nameBox input[id="firstName"] {
  margin-right: .5rem;
}

form .nameBox input[id="lastName"] {
  margin-left: .5rem;
}

form button {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
  width: 80%;
  color: black;
}

form button:hover, form button:focus, form button:active {
  -webkit-box-shadow: 0px 0px 5px 0px black;
          box-shadow: 0px 0px 5px 0px black;
}

form:hover {
  -webkit-box-shadow: 0px 0px 5px 0px black;
          box-shadow: 0px 0px 5px 0px black;
}

form textarea {
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  width: calc(80% - 1rem);
  border: none;
  background-color: transparent;
  padding: .5rem;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

form textarea:focus, form textarea:active {
  -webkit-box-shadow: 0px 0px 5px 0px black;
          box-shadow: 0px 0px 5px 0px black;
}

form textarea::-webkit-input-placeholder {
  color: black;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

form textarea:-ms-input-placeholder {
  color: black;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

form textarea::-ms-input-placeholder {
  color: black;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

form textarea::placeholder {
  color: black;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

@media (max-width: 1050px) {
  form {
    margin-top: 13rem;
    width: 55%;
  }
}

@media (max-width: 650px) {
  form {
    width: 80%;
  }
  form .nameBox input[id="firstName"],
  form .nameBox input[id="lastName"],
  form .nameBox input [id="email"] {
    font-size: 1rem;
  }
}

@media (max-width: 450px) {
  form {
    width: 95%;
  }
  form .nameBox {
    width: 74%;
  }
  form .nameBox input[id="lastName"] {
    margin-left: 0;
  }
}

@media (max-height: 700px) {
  form {
    height: 65vh;
    margin-top: 5rem;
  }
}

.portfolioWrapper {
  margin: 1rem auto;
}

.projectOneWrapper,
.projectTwoWrapper,
.projectThreeWrapper,
.projectFourWrapper,
.projectFiveWrapper,
.projectSixWrapper {
  width: 70%;
  padding: 2rem .5rem;
  margin: 5vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectOneObjectWrapper,
.projectTwoObjectWrapper,
.projectThreeObjectWrapper,
.projectFourObjectWrapper,
.projectFiveObjectWrapper,
.projectSixObjectWrapper {
  width: 80%;
  margin: 5rem auto;
  height: 80vh;
  margin-bottom: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.projectOneObjectWrapper embed,
.projectTwoObjectWrapper embed,
.projectThreeObjectWrapper embed,
.projectFourObjectWrapper embed,
.projectFiveObjectWrapper embed,
.projectSixObjectWrapper embed {
  -webkit-transition: 1s all linear;
  transition: 1s all linear;
  margin: 0 auto;
  border: 12px solid rgba(0, 0, 0, 0.8);
  height: 100%;
}

.projectOneInfo,
.projectTwoInfo,
.projectThreeInfo,
.projectFourInfo,
.projectFiveInfo,
.projectSixInfo {
  width: 50%;
  margin-left: 1rem;
}

.projectOneInfo h2,
.projectTwoInfo h2,
.projectThreeInfo h2,
.projectFourInfo h2,
.projectFiveInfo h2,
.projectSixInfo h2 {
  font-size: 2.5rem;
  font-weight: 200;
  letter-spacing: 2.5px;
}

.projectOneInfo p,
.projectTwoInfo p,
.projectThreeInfo p,
.projectFourInfo p,
.projectFiveInfo p,
.projectSixInfo p {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1.6px;
  line-height: 1.5rem;
}

.projectOneInfo button,
.projectTwoInfo button,
.projectThreeInfo button,
.projectFourInfo button,
.projectFiveInfo button,
.projectSixInfo button {
  margin-left: 5px;
}

.projectOneInfo > *:not(button),
.projectTwoInfo > *:not(button),
.projectThreeInfo > *:not(button),
.projectFourInfo > *:not(button),
.projectFiveInfo > *:not(button),
.projectSixInfo > *:not(button) {
  padding: .5rem;
}

.projectImageContainerOne,
.projectImageContainerTwo,
.projectImageContainerThree,
.projectImageContainerFour,
.projectImageContainerFive,
.projectImageContainerSix {
  width: 50%;
  overflow: hidden;
  height: 250px;
  margin: 0 auto;
  margin: 1rem;
  border: 8px solid rgba(0, 0, 0, 0.8);
}

.projectImageContainerOne img,
.projectImageContainerTwo img,
.projectImageContainerThree img,
.projectImageContainerFour img,
.projectImageContainerFive img,
.projectImageContainerSix img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100%;
}

.projectLinks {
  position: absolute;
  bottom: 0;
}

.langUsed {
  border: 1px solid rgba(0, 0, 0, 0.6);
  padding: 9px;
  margin: 3px;
  -webkit-transition: .2s all linear;
  transition: .2s all linear;
  letter-spacing: 1.5px;
  font-size: 1rem;
  font-weight: 200;
  display: inline-block;
}

.langUsed:hover {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}

.projectTwoWrapper,
.projectFourWrapper,
.projectSixWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desktopButton,
.mobileButton,
.tabletButton {
  margin: 0 .5rem;
}

.githubButton {
  margin: 0 6px;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  text-decoration: none;
  color: black;
}

.liveButton {
  margin-left: 5px;
  -webkit-transition: .1s all linear;
  transition: .1s all linear;
  text-decoration: none;
  color: black;
}

.previewButton,
.desktopButton,
.mobileButton,
.tabletButton,
.closeButton {
  letter-spacing: 1.5px;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  padding: .5rem;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}

.previewButton:hover, .previewButton:focus, .previewButton:active,
.desktopButton:hover,
.desktopButton:focus,
.desktopButton:active,
.mobileButton:hover,
.mobileButton:focus,
.mobileButton:active,
.tabletButton:hover,
.tabletButton:focus,
.tabletButton:active,
.closeButton:hover,
.closeButton:focus,
.closeButton:active {
  -webkit-box-shadow: 0px 0px 5px 0px black;
          box-shadow: 0px 0px 5px 0px black;
}

@media (max-width: 900px) {
  .portfolioWrapper {
    margin: 5rem auto 0 auto;
  }
  .projectOneWrapper,
  .projectTwoWrapper,
  .projectThreeWrapper,
  .projectFourWrapper,
  .projectFiveWrapper,
  .projectSixWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectOneInfo,
  .projectTwoInfo,
  .projectThreeInfo,
  .projectFourInfo,
  .projectFiveInfo,
  .projectSixInfo {
    width: 80%;
  }
  .projectImageContainerOne,
  .projectImageContainerTwo,
  .projectImageContainerThree,
  .projectImageContainerFour,
  .projectImageContainerFive,
  .projectImageContainerSix {
    width: 75%;
    margin-top: 2rem;
  }
}

@media (max-width: 550px) {
  .portfolioWrapper {
    margin-top: 3rem;
  }
  .projectOneWrapper,
  .projectTwoWrapper,
  .projectThreeWrapper,
  .projectFourWrapper,
  .projectFiveWrapper,
  .projectSixWrapper {
    width: 90%;
  }
  .projectOneInfo,
  .projectTwoInfo,
  .projectThreeInfo,
  .projectFourInfo,
  .projectFiveInfo,
  .projectSixInfo {
    width: 95%;
  }
  .projectImageContainerOne,
  .projectImageContainerTwo,
  .projectImageContainerThree,
  .projectImageContainerFour,
  .projectImageContainerFive,
  .projectImageContainerSix {
    width: 95%;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
/*# sourceMappingURL=App.css.map */